body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width: 150px;
    border-radius: 5%;
}

.card{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    text-align: center;
    border-bottom: 6px solid #9c6943;
    background: #fff3d9;
    color: #2b2839;
    
}
